body {
  background-color: #f7f7f7;
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
  padding: 40px 20px;
  margin: 0;
}

.container {
  max-width: 500px;
  margin: auto;
}

.logo {
  width: 100px;
  margin-bottom: 10px;
}

h1 {
  color: #137031;
  font-size: 22px;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center; /* 整體置中 */
  position: relative;
  padding: 20px 24px;
  border-radius: 999px;
  background-color: #fff;
  border: 2px solid #137031;
  font-size: 18px;
  color: #3b3b3b;
  text-decoration: none;
  width: 80%;
  max-width: 500px;
  margin: 12px auto;
}
.btn:hover {
  background-color: #137031;
  color: white;
}




.btn:hover {
  background-color: #137031;
  color: white;
}
.icon {
  position: absolute;
  left: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}



@media screen and (max-width: 480px) {
  body {
    padding: 30px 16px;
  }

  h1 {
    font-size: 24px;
  }

  .btn {
    font-size: 18px;
    padding: 16px 20px;
  }

  .icon {
    width: 36px;
    height: 36px;
    left: 12px;
  }
}

